#Visual Studio files
*.aps
*.bak
*.cache
*.Cache
*.filters
*.ilk
*.lib
*.log
*.ncb
*.obj
*.Obj
*.opensdf
*.pch
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*_i.h
*_p.h
Ankh.NoLoad
bin
Bin
debug
Debug
ipch
obj
release
Release

Win32